/* Webpage Background */
body {
  background-color: black;
  background: url('../src/assets/bg.png') no-repeat center center fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* Carousel Container */
.carousel-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 600px;
  width: 100%;
  margin: auto;
  position: relative;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 10px;
}

/* Image Wrapper */
.carousel-image-wrapper {
  width: 100%;
  overflow: hidden;
  text-align: center;
}

.carousel-image {
  width: 100%;
  height: auto;
  transition: transform 0.5s ease-in-out;
  border-radius: 10px;
}

/* Buttons */
.prev-btn, 
.next-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s;
}

.prev-btn:hover, 
.next-btn:hover {
  background-color: #0056b3;
}

.prev-btn {
  left: -30px;
}

.next-btn {
  right: -30px;
}

/* Indicators */
.carousel-indicators {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.dot {
  width: 12px;
  height: 12px;
  margin: 5px;
  border-radius: 50%;
  background-color: gray;
  cursor: pointer;
  transition: background-color 0.3s;
}

.dot:hover {
  background-color: #007bff;
}

.dot.active {
  background-color: blue;
}
